<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Virtu</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Virtu listens through the microphone to show how far a string is from the A you chose. Nothing is recorded or saved.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Newsreader-Regular.ttf</string>
		<string>Newsreader-Medium.ttf</string>
		<string>Newsreader-Italic.ttf</string>
		<string>Archivo-Regular.ttf</string>
		<string>Archivo-Medium.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
